// IMPORT FONTS
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Scope+One|Ek+Mukta:200,300,500,700');


// BASE TYPOGRAPHY

html {
	font-size: 18px;
}

body {
	font-family: $body;
	font-weight: 200;
	color: $text;
	line-height: 1.7;
}

// HEADINGS

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $title;
}
h1, h2, h3 {
	text-transform: uppercase;
}
h2 {
}
h3 {
}
p {
	
}
a, a:link, a:visited {
	text-decoration: none;
	color: $text;
	transition: all 0.3s ease;
}
a:hover {
	color: $yellow;
	transition: all 0.3s ease;
}

[class^="icon-"], [class*=" icon-"] {
	color: lighten($text, 50)
}